body
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	background-color: black;
}

h1
{
	width: 100%;
	text-align: center;
	color: white;
}

#container
{
	display: flex;
}

/* ------------------------ lines -------------------- */
path
{
	/* stroke: black; */
    stroke-width: 1.5;
    fill: none;
}

/* ------------------------ axis -------------------- */

.y.axis g.tick text, .x.axis g.tick text
{
	fill: white;
}

.axis path, .axis line
{
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}

.x.axis path
{
	display: none;
}

.x.axis g.tick line
{
	opacity: 0.3;
}

/* ------------------------ bars -------------------- */
.bar
{
	fill: orange;
}

.bar:hover
{
	fill: orangered ;
}

/* ------------------------ tooltip -------------------- */
.tooltip
{
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(60, 60, 60, 0.8);
	color: #fff;
	border-radius: 2px;
}

.tooltip:after
{
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(60, 60, 60, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.tooltip.n:after
{
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}


/* ------------------------ menu -------------------- */

.menu
{
	width: auto;
	height: 100%;
	display: block;
}

.space-menu
{
	height: 20px;
}

.toggles a
{
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu
{
	max-height: 400px;
	overflow-y: scroll;
}
  
.vertical-menu a
{
	background-color: rgb(126, 126, 126);
	color: white;
	display: block;
	padding: 12px;
	text-decoration: none;
}
  
.vertical-menu a:hover
{
	background-color: #ccc;
	color: black;
}
  
  .vertical-menu a.active
{
	/* background-color: #4CAF50; */
	color: white;
}