body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	padding: 0;
	
	text-align: center;
}

.map {
  position: relative;
  overflow: hidden;
	background: #333;
}

.wordCloud {
  position: relative;
  overflow: hidden;
	background: #333;
}

div#map {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 49%;
	height: 100%;
	/* vertical-align: top; */
}

div#rightColumn {
	display: inline-block;
	overflow: hidden;
	width: 49%;
	height: 100%;
	vertical-align: top;
}

div#parallelCoordinates {
	position: relative;
	width: 100%;
	height: 40%;
}

@media (max-width: 639px) {
	div#map, div#rightColumn {
		width: 100%;
	}

	div#map {
		height: 75%;
	}
}

div#wordCloud {
	background-color: white;
	width: 100%;
	height: 40%;
}

div#menu {
	width: 100%;
	height: 20%;
}

#points{
	width:100%;
	height:100%;
	position:relative;
	z-index:100;
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.info {
  position: absolute;
  bottom: 0px;
  left: 0px;
	padding: 20px;
	background: #000;
	color: #fff;
	width: 75%;
	z-index: 1000;
}
